.topnav {
    background: rgb(8, 137, 226);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 2.5rem;
    height: auto;
    .activeusers {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      .actvusr {
        margin-left: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &:hover{
            .userpic{
                background-color: rgb(196, 192, 195);// #d683e6;// #29c531;
            }
            cursor: pointer;
        }
        .userpic {
          margin-right: 0.1rem;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          outline: #d683e6 1px 1px;
          box-shadow: 0px 0px 30px 20px #535fed;
          background-color: #ffffff;
          border-radius: 50%; /* to make it circular */
          box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
            0 0 40px #ffffff; /* multiple shadows with increasing size */
        }
        .username {
          margin: 0;
        }
      }
    }
    .buttons {
      display: flex;
      text-align: center;
      align-items: center;
      flex-wrap: wrap-;
    }
  }
  .invite-popup{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    min-width: 250px;
    max-height: calc(100vh - 40px);
    overflow-y: scroll;
    @media (max-width: 567px) {
      max-height: calc(100vh - 100px);
    }
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  }
  .invite-popup::-webkit-scrollbar {
    display: none;
  }
