.user-notifications{
    margin: 1rem;
    h5{
        text-align: center;
    }
    .user-notifications-list{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .user-notification-item{
            background-color: #69B6E9;
            background-color: whitesmoke;
            background-color: white;
            border-radius: 0.5rem;
            padding: 0.5rem;
            width: calc(100%);
            .top-notification, .middle-notification{
                display: flex;
                gap: 0.5rem;
                justify-content: space-between;
                .newCircle{
                    color: aliceblue;
                    color: #69B6E9;
                    margin-top: 0.5rem;
                    height: 0.5rem;
                    min-width: 0.5rem;
                    max-width: 0.5rem;
                    outline: #d683e6 1px 1px;
                    outline: #535fed 1px 1px;
                    box-shadow: 0px 0px 20px 20px #535fed;
                    background-color: #ffffff;
                    background-color: #0D6EFD;
                    border-radius: 50%; /* to make it circular */
                    box-shadow: 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff,
                        0 0 20px #ffffff; /* multiple shadows with increasing size */
                        box-shadow: 0 0 10px #0D6EFD, 0 0 20px #0D6EFD, 0 0 30px #0D6EFD,
                        0 0 40px #0D6EFD; /* multiple shadows with increasing size */
                    
                }
                .circle{
                    display: inline-block;
                    margin-right: 0.5rem;
                }
            }
            .top-notification{
                justify-content: center;
                align-items: flex-start;
                // flex-wrap: wrap;
                .notification-title{
                    flex-grow: 2;
                    // font-size: 18px;
                    font-weight: 500;
                    display: flex;
                    gap: 0.5rem;
                    width: auto;
                    .title{
                        width: calc(100%);                        
                        word-wrap: break-word;
                        max-width: calc(100vw - 7rem - 67px);
                    }
                    @media (min-width: 768px) {
                    //    color: red;
                       .title{
                            max-width: calc(100vw - 9rem - 67px - 30vw);
                        }
                    } 
                }
                .notification-time{
                    font-size: 14px;
                }
            }
        }
        .read{
            .top-notification{
                .notification-title{
                    font-weight: 400;
                    opacity: 0.5;
                }
            }
            .middle-notification{
                .notification-text{
                    margin-left: 0;
                    opacity: 0.5;
                }
            }
        }
    }
}