.login-form{
    max-width: 50vw;
    margin: 1rem auto;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    padding: 1rem;
    .form-content-styled{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    @media (max-width: 992px) {
        max-width: calc(100vw - 2rem);
    }
}