body{
  background: rgb(88, 184, 210);
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(88,184,210,1) 100%);
  /* background: rgb(172,255,255);
background: radial-gradient(circle, rgba(172,255,255,1) 0%, rgba(132,205,255,1) 100%); */
}
.App {
  /* text-align: center; */
  background: rgb(88, 184, 210);
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(88,184,210,1) 100%);
/* background: rgb(172,255,255);
background: radial-gradient(circle, rgba(172,255,255,1) 0%, rgba(132,205,255,1) 100%); */
  min-height: 100vh;

}
::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
} 
 
::-webkit-scrollbar-thumb {
  background-color: #4285F4;
}
 
::-webkit-scrollbar-thumb:hover {
  background-color: #0d47a1;
}
/* .App.darktheme{
  background: #565E64;
} */
