.security-settings{
    .text-settings{
        border:  1px solid red;
        border-color: #0D6EFD;
        margin-top: 0.5rem;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-auto-columns: 1fr;
        gap: 0.5rem;
        grid-auto-flow: row;
        grid-template-areas:
        ". .";
        @media (max-width: 1100px) {
            display: block;
        }
        .controls-setting, .description-setting{
            margin-top: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                flex-shrink: 4;
                min-width: 120px !important;
            }
        }
        .description-setting{
            justify-content: flex-start;
            span{
                padding-left: 12px;
            }
        }
    }
}