.projects-container{
    margin: 1rem;
    .title-projects{
        text-align: center;
    }
    .topsection-projects{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        select{
            max-width: 320px;
        }
    }
    .projects-display{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 0.5rem;
        .project-item{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: space-between;
            width: 200px;
            min-height: 200px;
            // height: min-content;
            background-color: whitesmoke;
            // background-color: #0d6dfd2c;
            // border: 1px solid #0D6EFD;
            border-radius: 5px;
            padding: 0.5rem;
            @media (max-width:480px) {
                width: 100%;
            }
            .project-name{
                word-wrap: break-word;
                font-size: 24px;
                text-align: center;
            }
            &:hover{
                cursor: pointer;
            }
            .project-language{
                text-align: center;
                font-size: 28px;
            }
            .numbers{
                display: flex;
                column-gap: 0.5rem;
                justify-content: space-between;
            }
        }
        .actions{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1rem;
            min-width: 50vw;
            max-height: calc(100vh - 40px);
            overflow-x: hidden;
            overflow-y: scroll;
            @media (max-width: 567px) {
                min-width: calc(90vw - 4rem);
                max-height: calc(100vh - 100px);
            }
            scrollbar-width: none; /* Hide scrollbar for Firefox */
            -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
            @media (min-width: 992px) {
                min-width: 514px;
            }
            .tags{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
            .numbers{
                display: flex;
                column-gap: 0.5rem;
                justify-content: space-between;
            }
            .collaborators{
                text-align: center;
                div{
                    text-align: left;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .rename{
                display: flex;
                align-items: center;
            }
            // svg{
            //     font-size: 20px;
            // }
            .bottom-options{
                display: flex;
                justify-content: space-between;
            }
        }
        .actions::-webkit-scrollbar {
            display: none;
        }
    }
}
.collab-card{
    border: 1px solid whitesmoke;
    .name-project-collab, .name-collab{
        // font-size: 18px;
        font-weight: 600;
    }
}