.info-settings{
    width: 100%;
    .picture-setting{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .picture-editor{
            .picture-dispay-edit{
                width: 30vw;
                height: 30vw;
                max-width: 150px;
                max-height: 150px;
                background-image: url('blank-profile-picture.png');
                background-size: cover;
                background-size: contain;
                // border-radius: 50%;
                margin: 0 auto;
                display: block;
            }
             .picture-dispay-edit-borders{
                width: 30vw;
                height: 30vw;
                max-width: 150px;
                max-height: 150px;
                border-radius: 50%;
                margin: 0 auto;
                display: block;
                opacity: 0.5;
            }
        }
    }
    .text-settings{
        border:  1px solid red;
        border-color: #0D6EFD;
        margin-top: 0.5rem;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-auto-columns: 1fr;
        gap: 0.5rem;
        grid-auto-flow: row;
        grid-template-areas:
        ". .";
        @media (max-width: 1100px) {
            display: block;
        }
        .controls-setting, .description-setting{
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                flex-shrink: 4;
                min-width: 120px !important;
            }
            @media (max-width: 768px) {
                flex-direction: column;
                button{
                    margin: 0.5rem;
                }
            }
            @media (min-width: 992px) {
                margin-top: 0.5rem;
            }
        }
        .description-setting{
            justify-content: flex-start;
            span{
                padding-left: 12px;
                margin-bottom: 0.5rem;
            }
        }
    }

}